<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.dknapps.pswgendroid">

    <!-- Benötigt zum Lesen der zu importierenden Dienste-Datei, z.B. von einer SD-Karte -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Benötigt zum Löschen der importierten Dienste-Datei, z.B. von der SD-Karte -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="de.dknapps.pswgendroid.StartupActivity"
            android:label="@string/title_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.dknapps.pswgendroid.ServiceListActivity"
            android:label="@string/title_service_list"
            android:parentActivityName="de.dknapps.pswgendroid.StartupActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--         	<meta-data -->
            <!--                 android:name="android.support.PARENT_ACTIVITY" -->
            <!--                 android:value="de.dknapps.pswgendroid.StartupActivity" /> -->
        </activity>

        <activity
            android:name="de.dknapps.pswgendroid.ServiceDetailActivity"
            android:label="@string/title_service_detail"
            android:parentActivityName="de.dknapps.pswgendroid.ServiceListActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--         	<meta-data -->
            <!--                 android:name="android.support.PARENT_ACTIVITY" -->
            <!--                 android:value="de.dknapps.pswgendroid.ServiceListActivity" /> -->
        </activity>

        <activity
            android:name="de.dknapps.pswgendroid.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="de.dknapps.pswgendroid.StartupActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- 			<meta-data -->
            <!-- 				android:name="android.support.PARENT_ACTIVITY" -->
            <!-- 				android:value="de.dknapps.pswgendroid.StartupActivity" /> -->
        </activity>

        <!--
            Manche Intents müssen im Code registiert werden, für PswGenDroid geschieht das
            in StartupActivity#onCreate(), und zwar für die folgenden:

                SCREEN_OFF
        -->

        <!-- Input Method Editor Service to provide a virtual keyboard -->
        <service
            android:name="de.dknapps.pswgendroid.PswGenInputMethodEditor"
            android:label="@string/title_input_method_editor"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/hexkbd"/>
        </service>

    </application>

</manifest>
