<?xml version="1.0" encoding="utf-8"?>
<!--
    PswGen - Manages your websites and repeatably generates passwords for them
    PswGenDroid - Generates your passwords managed by PswGen on your mobile  
   
        Copyright (C) 2005-2016 Uwe Damken
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dknapps.pswgendroid"
    android:versionCode="4"
    android:versionName="1.7.7" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <!-- Benötigt zum Lesen der zu importierenden Dienste-Datei, z.B. von einer SD-Karte -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Benötigt zum Löschen der importierten Dienste-Datei, z.B. von der SD-Karte -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="de.dknapps.pswgendroid.StartupActivity"
            android:label="@string/title_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="de.dknapps.pswgendroid.ServiceListActivity"
            android:label="@string/title_service_list"
			android:parentActivityName="de.dknapps.pswgendroid.StartupActivity" >
        	<!-- Parent activity meta-data to support 4.0 and lower -->
<!--         	<meta-data -->
<!--                 android:name="android.support.PARENT_ACTIVITY" -->
<!--                 android:value="de.dknapps.pswgendroid.StartupActivity" /> -->
        </activity>
        
        <activity
            android:name="de.dknapps.pswgendroid.ServiceDetailActivity"
            android:label="@string/title_service_detail"
			android:parentActivityName="de.dknapps.pswgendroid.ServiceListActivity" >
			<!-- Parent activity meta-data to support 4.0 and lower -->
<!--         	<meta-data -->
<!--                 android:name="android.support.PARENT_ACTIVITY" -->
<!--                 android:value="de.dknapps.pswgendroid.ServiceListActivity" /> -->
        </activity>
        
        <activity
            android:name="de.dknapps.pswgendroid.AboutActivity"
            android:label="@string/title_activity_about"
			android:parentActivityName="de.dknapps.pswgendroid.StartupActivity" >
			<!-- Parent activity meta-data to support 4.0 and lower -->
<!-- 			<meta-data -->
<!-- 				android:name="android.support.PARENT_ACTIVITY" -->
<!-- 				android:value="de.dknapps.pswgendroid.StartupActivity" /> -->
        </activity>

		<!--
			Manche Intents müssen im Code registiert werden, für PswGenDroid geschieht das
			in StartupActivity#onCreate(), und zwar für die folgenden:
			
				SCREEN_OFF
		-->
        
	</application>

</manifest>
