<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sf.pswgendroid"
    android:versionCode="2"
    android:versionName="1.7.4" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <!-- Benötigt zum Lesen der zu importierenden Dienste-Datei, z.B. von einer SD-Karte -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Benötigt zum Löschen der importierten Dienste-Datei, z.B. von der SD-Karte -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".StartupActivity"
            android:label="@string/title_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ServiceListActivity"
            android:label="@string/title_service_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.pswgendroid.StartupActivity" />
        </activity>
        
        <activity
            android:name=".ServiceDetailActivity"
            android:label="@string/title_service_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.pswgendroid.ServiceListActivity" />
        </activity>
        
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

		<!--
			Manche Intents müssen im Code registiert werden, für PswGenDroid geschieht das
			in StartupActivity#onCreate(), und zwar für die folgenden:
			
				SCREEN_OFF
		-->
        
	</application>

</manifest>
